body {
	margin: 0;
	padding: 0;
	font-family: Candara;
	color: #58605c;
	background: white; 
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}

.main-header {
	background: white;
	height: 80px;
	border-bottom: solid #58605c 5px;

}	
.main-header a {
	color: #58605c;
}

/*
 * Logo
 */
.logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
.logo-header:hover {
	color: #bebebe;
}
	
.logo-header .site-name {
	display: block;
	font-weight: 700;
	font-size: 1.2em;
}
	
.logo-header .site-desc {
	display: block;
	font-weight: 300;
	font-size: 0.8em;
	color: #bebebe;
}
	

/*
 * Navegación
 */
nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
	
nav ul li {
	display: inline-block;
	line-height: 80px;
}
			
nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}
			
nav ul li a:hover {
	background: #bebebe;
}

container.main-content {
  background: #bebebe;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  height: 800px;
}
        
.main-content header,
.main-content .content {
  padding: 40px;
}

.main-footer {
  background: white;
  color: #58605c;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
.main-footer p {
  margin: 0;
}
            
.main-footer a {
  color: #58605c;
}           
           
           